.grid-wrapper,
.populars-grid-wrapper,
.featured-grid-wrapper {
  display: flex;
  justify-content: center;
}

.food-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 30px;
}

@media (max-width: 750px) {
  .food-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 30px;
  }

  .thumbnail-row .thumbnail{
  }
}

.thumbnail-row{
  position: relative;
  width: 155px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;

}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-details{
  position: absolute;
  background-color: rgba(177, 176, 176, 0.71);
  color: rgb(99, 96, 96);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 12px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  opacity: 0;
  text-align: center;
}

.thumbnail-row:hover .author-details{
  opacity: 1;
  transition: opacity 0.15s;
}

.sale-row{
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  padding: 5px;
  background-color: orange;
  color: white;
  bottom: 0;
  left: 0;
}

.sale-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  padding: 5px;
  background-color: orange;
  color: white;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
}

.sale{
  font-size: 25px;
  font-weight: bold;
}

.percent-off{
  margin-left: 3px;
  font-size: 10px;
}

.percent-symbol{
  font-weight: bold;
  font-size: 15px;
}

.food-name{
  color: rgb(91, 88, 88);
  font-weight: bold;
  font-size: 14px;
}

.remaining-days{
  font-weight: bold;
  color: rgb(205, 83, 2);
  background-color: rgba(241, 144, 33, 0.283);
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: min-content;
  white-space: nowrap;
  padding: 5px 8px;
}

/* Popular */
.populars-grid-row,
.featured-grid-row{
  display: grid;
  grid-template-rows: 30px 1fr;
  margin-top: 30px;
}

.populars-header,
.featured-header{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.populars-grid-column{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin:  30px 120px;
  column-gap: 20px;
}

.populars-thumbnail,
.featured-thumbnail{
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 10px;
}

.populars-name,
.featured-restaurant-name{
  font-size: 12px;
  font-weight: bold;
}

.populars-location-col{
  display: grid;
  grid-template-columns: 15px 1fr;
  margin-top: 5px;
}

.populars-location-col img{
  width: 13px;
  height: 13px;
}

.populars-location-col p,
.featured-rating-column p{
  color: orange;
  font-weight: 400;
  font-size: 10px;
}

.populars-price{
  font-weight:bold;
  font-size: 9px;
  margin-top: 5px;
}

.populars-grid-wrapper button{
  margin-top: 10px;
  width: 100%;
  background-color: rgb(198, 102, 1);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 22px;
  border-style: none;
  border-radius: 5px;
}

/* FEATURES */
.featured-grid-column{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:  30px 200px;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: left;
}

.featured-restaurant-column{
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  margin-top: 8px;
}

.featured-restaurant-row{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: left;
  row-gap: 3px;
  
}

.featured-logo{
  width: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.featured-rating-column{
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
}

.featured-rating-column img{
  width: 15px;
}

.featured-rating-column p{
  font-size: 11px;
}

.featured-opening,
.featured-opening-open{
    font-weight: bold;
    color: rgb(205, 83, 2);
    background-color: rgba(241, 144, 33, 0.283);
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 8px;
    width: min-content;
    white-space: nowrap;
}

.featured-opening-open{
  color: rgb(2, 140, 2);
  background-color: rgba(99, 241, 77, 0.46);
}

